.photo-grid__list {
    margin: 0;
    grid-area: photo-grid;
    display: grid;
    grid-template-columns: repeat(4, minmax(284px, 1fr));
    gap: 16px;
    align-items: center;
    box-sizing: border-box;
    list-style-type: none;
  }
  
  @media all and (max-width: 1279px) {
    .photo-grid__list {
      gap: 14px;
      grid-template-columns: repeat(3, minmax(290px, 1fr));
    }
  }
  
  @media all and (max-width: 1010px) {
    .photo-grid__list {
      grid-template-columns: repeat(2, minmax(342px, 1fr));
    }
  }
  
  @media all and (max-width: 755px) {
    .photo-grid__list {
      grid-template-columns: repeat(1, minmax(288px, 1fr));
      gap: 12px;
    }
  }